<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[ %-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n </pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="dev,test,uat,prod">
        <appender name="rollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>/data/logs/file-service/spring.log</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>/data/logs/file-service/spring.%d{yyyy-MM-dd}.log</fileNamePattern>
            </rollingPolicy>
            <encoder>
                <pattern>[ %-5level] [%thread] [%date{yyyy-MM-dd HH:mm:ss}] %logger{96} [%line] - %msg%n </pattern>
            </encoder>
        </appender>
    </springProfile>

    <!-- project default level -->
    <!--OFF、FATAL、ERROR、WARN、INFO、DEBUG、ALL-->
    <!-- %m输出的信息,%p日志级别,%t线程名,%d日期,%c类的全名,,,, -->
    <springProfile name="local">
        <logger name="org.springframework.web" level="DEBUG"/>
        <logger name="com.xiehua" level="INFO" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation" level="WARN" />
        <logger name="springfox.documentation.spring.web.readers.operation" level="WARN" />
        <logger name="org.springframework.web.servlet.handler" level="WARN" />
        <logger name="jdbc.sqlonly" level="WARN"/>
        <logger name="jdbc.sqltiming" level="INFO"/>
        <logger name="jdbc.resultsettable" level="WARN"/>
        <logger name="jdbc.resultset" level="WARN"/>
        <logger name="jdbc.connection" level="WARN"/>
        <logger name="jdbc.audit" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="console" />
        </root>
    </springProfile>
    <!-- 测试环境+开发环境. 多个使用逗号隔开. -->
    <springProfile name="dev,test,uat">
        <logger name="org.springframework.web" level="INFO"/>
        <logger name="com.xiehua" level="INFO" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation" level="WARN" />
        <logger name="springfox.documentation.spring.web.readers.operation" level="WARN" />
        <logger name="org.springframework.web.servlet.handler" level="WARN" />
        <logger name="jdbc.sqlonly" level="WARN"/>
        <logger name="jdbc.sqltiming" level="INFO"/>
        <logger name="jdbc.resultsettable" level="WARN"/>
        <logger name="jdbc.resultset" level="WARN"/>
        <logger name="jdbc.connection" level="WARN"/>
        <logger name="jdbc.audit" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </root>
    </springProfile>

    <!-- 生产环境. -->
    <springProfile name="prod">
        <logger name="org.springframework.web" level="ERROR"/>
        <logger name="com.xiehua" level="INFO" />
        <logger name="org.springframework.web.servlet.mvc.method.annotation" level="WARN" />
        <logger name="springfox.documentation.spring.web.readers.operation" level="WARN" />
        <logger name="org.springframework.web.servlet.handler" level="WARN" />
        <logger name="jdbc.sqlonly" level="WARN"/>
        <logger name="jdbc.sqltiming" level="WARN"/>
        <logger name="jdbc.resultsettable" level="WARN"/>
        <logger name="jdbc.resultset" level="WARN"/>
        <logger name="jdbc.connection" level="WARN"/>
        <logger name="jdbc.audit" level="WARN"/>
        <root level="INFO">
            <appender-ref ref="console" />
            <appender-ref ref="rollingFile" />
        </root>
    </springProfile>

</configuration>