package ${serviceBasePackage}.${moduleName};

import ${domainBasePackage}.${moduleName}.${classname}Domain;

import com.huboot.business.mybatis.IBaseService;
import com.huboot.business.mybatis.ApiException;

import java.util.List;

/**
 *${tableDesc}Service
 */
public interface I${classname}Service extends IBaseService<${classname}Domain, Long>{

}
